# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 설치 패키지
node_modules/

# 빌드 결과물
dist/
dist-ssr/
build/

# 환경변수 및 API 키
.env
.env.*
!.env.example

# 에디터 설정
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 운영체제 생성 파일
.DS_Store
Thumbs.db